In [1]:
# Problem 1: Unique Words in a Sentence

# Input sentence
sentence = "python is easy and python is powerful"

# Split sentence into words
words = sentence.split()

# Convert list to set to remove duplicates
unique_words = set(words)

# Count unique words
count = len(unique_words)

# Output
print("Sentence:", sentence)
print("Unique words count:", count)
print("Unique words:", unique_words)

Sentence: python is easy and python is powerful
Unique words count: 5
Unique words: {'is', 'powerful', 'python', 'easy', 'and'}

In [2]:
# Problem 2: Highest Salary from Employee Data

# Employee salary dictionary
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

# Find employee with highest salary
highest_employee = max(employees, key=employees.get)
highest_salary = employees[highest_employee]

# Output
print("Employees:", employees)
print("Highest Salary:", highest_employee, "-", highest_salary)

Employees: {'Ravi': 75000, 'Anita': 68000, 'Kiran': 72000}
Highest Salary: Ravi - 75000

In [3]:
# Problem 3: Find Maximum and Minimum Values

numbers = [45, 22, 89, 10, 66]

# Initialize max and min
max_val = numbers[0]
min_val = numbers[0]

# Loop through numbers
for num in numbers:
    if num > max_val:
        max_val = num
    if num < min_val:
        min_val = num

# Output
print("List:", numbers)
print("Max:", max_val)
print("Min:", min_val)

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

In [4]:
# Problem 4: Count Products Above Price Threshold

prices = [450, 1200, 899, 1500, 300]

count = 0

# Count prices greater than 1000
for price in prices:
    if price > 1000:
        count += 1

# Output
print("Prices:", prices)
print("Products above 1000:", count)

Prices: [450, 1200, 899, 1500, 300]
Products above 1000: 2

In [5]:
# Problem 5: Calculate Attendance Percentage

attendance = ["P", "P", "A", "P", "P"]

# Count present days
present = attendance.count("P")

# Total days
total = len(attendance)

# Calculate percentage
percentage = (present / total) * 100

# Output
print("Attendance:", attendance)
print("Attendance Percentage:", percentage)

Attendance: ['P', 'P', 'A', 'P', 'P']
Attendance Percentage: 80.0

In [6]:
# Problem 6: Remove Duplicate Phone Numbers

phone_numbers = [9876543210, 9123456789, 9876543210]

# Convert to set
unique_numbers = set(phone_numbers)

# Output
print("Original numbers:", phone_numbers)
print("Unique phone numbers:", unique_numbers)

Original numbers: [9876543210, 9123456789, 9876543210]
Unique phone numbers: {9876543210, 9123456789}

In [7]:
# Problem 7: Count Character Frequency

text = "python"

char_count = {}

# Count frequency
for char in text:
    if char in char_count:
        char_count[char] += 1
    else:
        char_count[char] = 1

# Output
print("Text:", text)
print("Character frequency:", char_count)

Text: python
Character frequency: {'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

In [8]:
# Problem 8: Convert List to Tuple

my_list = [10, 20, 30]

# Convert list to tuple
my_tuple = tuple(my_list)

# Output
print("List:", my_list)
print("Tuple:", my_tuple)

List: [10, 20, 30]
Tuple: (10, 20, 30)

In [9]:
# Problem 9: Check if Key Exists in Dictionary

employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

key = "Ravi"

# Check existence
if key in employees:
    print("Employee exists")
else:
    print("Employee does not exist")

Employee exists

In [10]:
# Problem 10: Calculate Average Marks

marks = [65, 70, 80, 75]

# Calculate average
average = sum(marks) / len(marks)

# Output
print("Marks:", marks)
print("Average Marks:", average)

Marks: [65, 70, 80, 75]
Average Marks: 72.5